@import '../../styles/button.scss';
@import '../../styles/color.scss';
@import '../../styles/input.scss';
@import '../../styles/responsive.scss';

.container{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    max-width: 37.5rem;
    width: 100%;
    
    @include lg{
        padding: 3em 5%;
        box-sizing: border-box;
    }
}

.title{
    color: $secondary-text-color;
    padding: 1rem 0;
    box-sizing: border-box;
    font-size: 3.125rem;
    border-bottom: 0.5rem solid $primary-btn-background-color;
    margin-bottom: 1em;

    @include lg{
        font-size: 1.25rem;
        border-bottom-width: 4px;
    }
}

.msg{
    color: $secondary-text-color;
    font-size: 1.125rem;
    line-height: 1.25rem;

    @include lg{
        font-size: 1rem;
    }
    
}

.error{
    color: $error-text-color;
    font-size: 1.125rem;
    line-height: 1.25rem;
    margin: 0;
}

.inputForm{
    width: 100%;
    margin-top: 3rem;

    @include lg{
        margin-top: 1em;
    }
}

.inputGroup{
    @include inputGroup;
    margin-bottom: 2.5em;
    width: 100%;
}

.inputField{
    @include inputField;
    font-size: 1.125rem;
    width: 100%;
    padding: 0.5rem 0;
}

.floatingLabel{
    @include floatingLabel;
}

.inputField:focus ~.floatingLabel,
.inputField:not(:focus):valid ~.floatingLabel{
    @include floatingLabel-focus;
}

.submitBtn{
    @include globalButton;
    margin-top: 1rem;
    background-color: $primary-btn-background-color;
    color: $primary-btn-text-color;
    padding: 0.875em 0;
    width: 100%;
    font-size: 1.25rem;
    line-height: 1.5rem;
    outline: none;
    border: none;

    @include lg{
        font-size: 1rem;
    }
}