
.input-item{
    margin: 20px 0;
}

.answer-input {
    display: none;
}

.ql-toolbar{
    margin-top: 5px;
    width: 100%;
}
#editor-answer {
    height: 200px;
    width: 100%;
    background-color: #ffffff;
}