@import '../../styles/color.scss';
@import '../../styles/responsive.scss';

.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
}

.pageTitle{
    width: 100%;
    padding: 5.625rem 10rem 3.4375rem 10rem;
    box-sizing: border-box;
    color: $secondary-text-color;
    font-size: 1.875rem;
    line-height: 2.625rem;
    margin: 0;
    font-weight: 600;

    @include lg{
        font-size: 1.5rem;
        line-height: 2.5rem;
        padding: 5% 10%;
    }
}

.questionContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 16.4375rem;
    box-sizing: border-box;

    @include lg{
        padding: 0
    }
}

.sectionTab{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.25rem 0;
    border-bottom: 2px solid $border-color;
    cursor: pointer;
    align-items: center;
    box-sizing: border-box;

    @include lg{
        padding: 1.25rem 10%;
    }
}

.sectionTab:last-of-type{
    margin-bottom: 0;
}

.sectionTitle{
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    color: $primary-text-color;
    margin: 0;
    
    @include lg{
        font-size: 1rem;
        line-height: 2rem;
    }
}

.indicator{
    width: 2rem;
    height: 2rem;
}

.answer{
    margin-top: 2.5rem;
    margin-bottom: 1.875rem;
    
    @include lg{
        padding: 0 10%;
    }

    p, li{
        margin: 0;
        color: $secondary-text-color;
        font-size: 1.5rem;
        line-height: 2.5rem;

        @include lg{
            font-size: 1rem;
            line-height: 2rem;
        }
    }
}

.numberAppImg{
    width: 5rem;
    height: 5rem;
}


.msg{
    margin-top: 2.0625rem;
    margin-bottom: 0;
    font-size: 1.25rem;
    line-height: 2.5rem;
    color: $secondary-text-color;
    
    @include lg{
        padding: 0 10%;
        font-size: 1rem;
        line-height: 2rem;
    }
}

.socialGroup{
    margin-top: 0.75rem;
    margin-bottom: 10.9375rem;

    @include lg{
        padding: 0 10%;
    }
}

.mediaIcon{
    margin-right: 1.5rem;
    height: 1.125rem;
    display: inline-block;

    @include lg{
        width: 1.5rem;
        height: 1.5rem;
    }
}
