@import '../../styles/color.scss';
@import '../../styles/responsive.scss';

.container{
    width: 100%;
    padding: 3.75rem 10rem;
    box-sizing: border-box;

    @include lg{
        padding: 10%;
    }
}

.title{
    color: $secondary-text-color;
    font-size: 1.875rem;
    line-height: 2.625rem;
    font-weight: 600;
}

.courseList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1%;

    @include lg{
        display: block;
        width: 100%;
        max-width: 25rem;
        margin-left: auto;
        margin-right: auto;
    }
}